import React, { useState, useEffect } from 'react'
import { auth } from '../../lib/db'

import { contract, w3 } from '../../helpers/Web3Helper'

export default function Send() {

  {{#each contract_data.initRules.passIn}}
    const [{{this}}, set{{this}}] = useState() {{! loop over the pass in elements contract_data.initRules.passIn}}
  {{/each}}




  const [errorMessage, setErrorMessage] = useState()
  const [sendStatus, setSendStatus] = useState()
  const [user, setUser] = useState(false)

  useEffect(() => {
    auth.onAuthStateChanged((user) => {
      setUser(user)
    })
  }, [])

  const mySubmitHandler = async (event) => {
    event.preventDefault()
    {{! loop over the pass in elements contract_data.initRules.passIn}}
    let fail = false;
    if ({{contract_data.initRules.passIn.[0]}} === '') {
      setErrorMessage('Your {{contract_data.initRules.passIn.[0]}} cannot be empty')
      fail = true;
    } 
    if(fail){

    }
    else {
      setSendStatus('Sending')
      contract.methods
        .new_{{contract}}({{contract_data.initRules.passIn}}) {{! loop over the pass in elements contract_data.initRules.passIn}}
        .estimateGas()
        .then((gasEstimate) => {
          contract.methods
            .new_{{contract}}({{contract_data.initRules.passIn}}) {{! loop over the pass in elements contract_data.initRules.passIn}}
            .send({ gas: gasEstimate  })
            .then(() => {
              setSendStatus('')
                {{#each contract_data.initRules.passIn}}
                  set{{this}}("")
                {{/each}}
            })
        })
    }
  }
  if (user) {
    return (
      <form className="p-6" onSubmit={mySubmitHandler}>



        {{#if contract_data.initRules.passIn.[1]}}

        {{#each contract_data.initRules.passIn}}

        <div className="field">
          <label className="label">{{this}}</label>
          <div className="control">
            <input className="input" type="text" placeholder="Type your {{this}} here..."
              name="{{this}}"
              value={ {{this}}    }
              onChange={(event) => set{{this}}(event.target.value)}

            />
          </div>
        </div>

        {{/each}}  

<div className="field is-grouped">
  <div className="control">
    <input  className={
                sendStatus === 'Sending'
                  ? 'button is-info is-bold'
                  : 'button is-warning has-text-white is-bold'
              }
              type="submit"
              value={sendStatus === 'Sending' ? 'Sharing...' : 'Share'}
              />
  </div>
</div>


        {{else}}






        <div className="field is-grouped">
          <p className="control is-expanded">
            <input
              autoComplete="off"
              className="input"
              placeholder="Type your {{contract_data.initRules.passIn.[0]}} here..."
              type="text"
              name="{{contract_data.initRules.passIn.[0]}}"
              value={ {{contract_data.initRules.passIn.[0]}}    }
              onChange={(event) => set{{contract_data.initRules.passIn.[0]}}(event.target.value)}
              disabled={sendStatus === 'Sending'}
            />
          </p>

          <p className="control">
            <input
              className={
                sendStatus === 'Sending'
                  ? 'button is-info is-bold'
                  : 'button is-warning has-text-white is-bold'
              }
              type="submit"
              value={sendStatus === 'Sending' ? 'Sharing...' : 'Share'}
            />
          </p>
          <p>{errorMessage && errorMessage}</p>
        </div>



        {{/if}}
      </form>
    )
  } else {
    return (
      <section className="hero is-warning mb-6">
        <div className="hero-body">
          <div className="container">
            <h3 className="title has-text-centered is-5">Please sign in to create a {{contract}}</h3>
          </div>
        </div>
      </section>
    )
  }
}
